@import 'tailwindcss';

* {
    font-family: "Montserrat", serif;
}

#app{
    background-color: #fff;
}

button, a{
    cursor: pointer;
}

input[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: calc(100% - 140px);
    padding-right: 0;
}

i.fa,
i.fa-solid,
i.fa-user,
i.fa-regular {
    font-family: 'Fontawesome' !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: white !important;
    }
}