@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Montserrat", serif;
}

#app{
    background-color: #fff;
}

button, a{
    cursor: pointer;
}

html {
    background-color: #fff;
    height: 100%;
}

html.dark {
    background-color: #17191c;
    height: 100%;
}

input[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: calc(100% - 140px);
    padding-right: 0;
}

i.fa,
i.fa-solid,
i.fa-user,
i.fa-regular {
    font-family: 'Fontawesome' !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: white !important;
    }
}

.loader {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay-modal {
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.35s linear;
}

.theme-checkbox-label {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #efefef;
    transition: background-color 0.4s ease;
}

.theme-checkbox-label::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    left: 6px;
    background-color: #2a2a2a;
    border-radius: 50%;
    transition: left 0.4s ease, background-color 0.4s ease;
}

.theme-checkbox:checked+.theme-checkbox-label {
    background-color: #2a2a2a;
}

.theme-checkbox:checked+.theme-checkbox-label::before {
    left: 34px;
    background-color: #efefef;
}

.chat-loading-dot {
    animation: loadMessage 1s infinite ease-in-out;
}

.chat-loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.chat-loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}


@keyframes loadMessage {

    0%,
    100% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }
}