@import 'tailwindcss';

* {
    font-family: "Montserrat", serif;
}

#app{
    background-color: #fff;
}

button, a{
    cursor: pointer;
}

input[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: calc(100% - 140px);
    padding-right: 0;
}

i.fa,
i.fa-solid,
i.fa-user,
i.fa-regular {
    font-family: 'Fontawesome' !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: white !important;
    }
}

.loader {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay-modal {
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.35s linear;
}